/* 确保内容不被导航栏遮挡 */
body {
    font-family: 'Microsoft YaHei', sans-serif;
    padding-top: 56px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 60px; /* 固定高度 */
    padding-bottom: 60px; /* 等于导航栏高度 */
}

.chapter p {
    font-size: 12px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.videos {
    display: block;
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
}

.videos p{
    font-size: 15px;
}

video {
    display: flex;
    width: 100%;
    object-fit: fill;
    height: 100%;
}